<form class="col-md-6 offset-md-3" action="/" method="post">
  <div class="form-group row justify-content-center my-2">
    <label for="catalog-form">Get our catalog directly to your inbox!</label>
    <div class="input-group">
      <input name="email" type="email" class="form-control form-control-sm" id="catalog-form" aria-describedby="emailHelp" placeholder="Enter email">
      <button type="submit" class="btn btn-sm btn-outline-info">Submit</button>
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
</form>
