<section class="sec1">
  <img src="images/cake3.jpg" alt="" class="picture">
    <h1>Veteran Bakery</h1>
</section>
<section class="sec2">
  <form action="/" method="get">
    <input type="text" name="search" placeholder="enter first name">
    <input type="submit" value="Submit search">
  </form>
</section>

<!-- body {
  margin: 0;
  background: url('images/cake3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  index-z: -1;
} -->
