<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap" rel="stylesheet">
    <title>Patriot Bakery</title>
  </head>
  <body>
    <div class="container purple topBotomBordersIn">
      <a href="/">Home</a>
      <a href="cookies">Cookies</a>
      <a href="event">Events</a>
      <a href="muffins">Muffins</a>
      <a href="cakes">Cakes</a>
    </div>
    <%= yield %>
  </body>
  <script src="cool.js" charset="utf-8"></script>
</html>
